---
# Common role defaults
common_packages:
  - openjdk-21-jdk-headless
  - xfsprogs
  - acl
  - chrony
  - net-tools
  - curl
  - openssl
  - ca-certificates
  - gnupg
  - lsb-release

# Sysctl tuning
kafka_sysctl_params:
  vm.swappiness: 1
  vm.dirty_ratio: 80
  vm.dirty_background_ratio: 5
  net.core.wmem_max: 16777216
  net.core.rmem_max: 16777216
  net.core.wmem_default: 1048576
  net.core.rmem_default: 1048576
  net.ipv4.tcp_wmem: "4096 65536 16777216"
  net.ipv4.tcp_rmem: "4096 65536 16777216"
  net.ipv4.tcp_max_syn_backlog: 4096
  net.core.somaxconn: 4096
  net.core.netdev_max_backlog: 4096
  fs.file-max: 500000
  vm.max_map_count: 262144

# Security limits
kafka_nofile_limit: 128000
kafka_nproc_limit: 65536
